.nav-link:link {
	font-family: "Red Hat Display", sans-serif;
	color: #000000;
	font-size: 18px;
}

.nav-link:visited {
	color: #4e5b4b;
}

.nav-link:hover {
	color: #731c12;
	font-weight: 600;
}

.navbar-nav .nav-link.active {
  display: inline-block;
  color: #731c12 !important;
  border-bottom: 2px solid #731c12;
  font-weight: 600;
  padding-bottom: 2px;
}

.navbar-brand img {
	width: 100px;
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.navbar-brand img {
		width: 140px;
	}
}

.bg-custom {
	background-color: #eae8e7;
}

.footer {
	background-color: #eae8e7;
	color: #000000;
	font-family: "Zilla Slab", serif;
}

.footer-logo img {
	height: 150px;
	width: auto;
}

.bi {
	color: #731c12;
	font-size: 24px;
	margin-right: 10px;
	margin-left: 10px;
}

.overview {
	font-family: "Zilla Slab", serif;
	font-size: 32px;
	font-weight: 500;
	color: #731c12;
}

h3 {
	font-family: "Zilla Slab", serif;
	color: #731c12;
	font-weight: 500;
}

.visit {
	font-family: "Zilla Slab", serif;
	font-size: 40px;
	color: #731c12;
	font-weight: 500;
}

.location {
	font-family: "Zilla Slab", serif;
	font-size: 24px;
	color: #731c12;
	font-weight: 500;
}

li {
	font-family: "Red Hat Display", sans-serif;
	font-size: 16px;
	color: #000000;
}

p {
	font-family: "Red Hat Display", sans-serif;
	font-size: 16px;
	color: #000000;
}

.custom-btn {
	font-family: "Zilla Slab", serif;
	font-size: 18px;
	background-color: #4e5b4b;
	color: white;
	border: none;
}

.custom-btn:hover {
	background-color: #445522;
	color: #ffffff;
}

.custom-btn:focus {
	outline: none;
	box-shadow: none;
}

.min-vh-60 {
	min-height: 60vh;
}

.hero-heading {
	font-family: "Zilla Slab", serif;
	color: #731c12;
	font-weight: 500;
}

.hero-body {
	font-family: "Red Hat Display", sans-serif;
	font-size: 20px;
	color: #000000;
}

.phone {
	color: #00008b;
}

.right-text {
	color: #731c12;
	font-family: "Red Hat Display", sans-serif;
}

.service-type {
	font-family: "Red Hat Display", sans-serif;
	font-size: 16px;
	color: #000000;
}

.form-control:focus {
  border-color: #4e5b4b; 
  box-shadow: 0 0 0 0.25rem rgba(78, 91, 75, 0.25); 
}

